@import '../../_theme.scss';

.report-page {
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;

    .report-page-wrapper {
        height: 100%;
        width: 100%;
        padding-top: $page-top-padding;
        @include flex-column(flex-start);

        .page-header {
            @include page-header();
        }

        .report-encounter-text {
            font-size: 1.15rem;
        }

        .form-container {
            
            height: 100%;
            width: 95%;
            @include flex-column(space-between);

             form {
                height: 100%;
                width: 100%;
                margin: 0.5rem auto 4rem;
                @include flex-column(flex-start);

                select {
                    margin-bottom: 1.15rem;
                    appearance: none;
                    -webkit-appearance: none;
                }

                select.ng-dirty {
                    color: white;
                }

                textarea {
                    height: 195px;
                    width: 100%;
                    padding: 0.5rem 0.5rem;
                    border: none;
                    font-size: 1rem;
                }
                textarea.ng-dirty {
                    color: black;
                    font-weight: 500;
                }
            }
        }

        .submit-report-button {
            height: auto;
            min-height: 110px;
            width: 30%;
            min-width: 250px;
            margin-top: 3.5rem;
            border: none;
            border-radius: $button-border-radius;
            color: white;
            background: black;
            font-size: 2.15rem;
            font-weight: 100;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.ng-invalid.flashing-input textarea.ng-invalid, .ng-invalid.flashing-input select.ng-pristine {
    @include input-flasher-animation();
}

form.ng-dirty.ng-valid button {
    @include button-flasher-animation;
}

@keyframes input-flasher {
    0% {
        box-shadow: 0px 0px 0px 0px #ED4343;
    }
    100% {
        box-shadow: 0px 0px 0px 11px black;
    }

}

@keyframes button-flasher {
    0% {
        color: #FDFFFA;
        box-shadow: inset 0px 0px 55px 0px #094259;
    }

    85% {
        box-shadow: inset 0px 0px 75px 50px black;
    }
    100% {
        color: #ED4343;
    }
}