.report-page {
    height: 100vh;
    width: 100vw;
    background: white;
    color: black;

    .report-page-wrapper {
        height: 100%;
        width: 100%;
        padding-top: 2.35rem;
        background: black;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        .page-header {
            height: 12.5%;
            width: 100%;
            background: black;
            color: white;
            text-align: center;

            .page-title {
                font-size: 2.35rem;
                margin-bottom: 0.1rem;
            }
        }

        .encounters-list-wrapper {
            box-sizing: border-box;
            height: 56.5%;
            width: 100%;
            padding: 1rem 1rem 2rem 1rem;
            background: linear-gradient(#CF412C 0%, gray 70%, gray 100%);
            font-size: 1.1rem;
            overflow: scroll;
            text-align: left;

            ::-webkit-scrollbar-thumb{
                height: 20px;
            }

            .encounters-loader-gif {
                height: 200px;
                width: 200px;
                margin: 0 auto;
                background: url("../../assets/images/ajax-loader.gif") no-repeat center;
                background-size: 35%;
            }

            .encounters-list {
                height: auto;
                width: 100%;
                background: none;
                margin: 0 auto;
                list-style-type: none;

                li {
                    height: auto;
                    margin-bottom: 1rem;

                    .encounter-action-text {
                        display: block;
                    }
                }
            }
        }
        .report-button-wrapper {
            height: 31%;
            width: 100%;
            background: black;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .report-encounter-button {
                height: 100%;
                width: 100%;
                margin: 0 auto;
                border: none;
                color: white;
                background: black;
                font-size: 2.35rem;
                font-weight: 100;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: button-flasher 1.55s linear infinite 0.2s;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@keyframes button-flasher {
    0% {
        color: #FDFFFA;
        box-shadow: inset 0px 0px 85px 20px #094259;
    }

    85% {
        box-shadow: inset 0px 0px 135px 50px black;
    }
    100% {
        color: #ED4343;
    }
}

