@import '../../_theme.scss';

.report-page {
    height: 100vh;
    width: 100vw;
    background: white;
    color: black;

    .report-page-wrapper {
        height: 100%;
        width: 100%;
        padding-top: $page-top-padding;
        background: black;
        @include flex-column(flex-start);
        .page-header {
            height: 12.5%;
            width: 100%;
            background: black;
            color: white;
            text-align: center;

            .page-title {
                @include page-header();
            }
        }

        .encounters-list-wrapper {
            height: 56.5%;
            width: 100%;
            @include mars-sunrise-background();
            font-size: 1.1rem;
            overflow: scroll;
            text-align: left;

            ::-webkit-scrollbar-thumb{
                height: 20px;
            }

            .encounters-loader-gif {
                height: 200px;
                width: 200px;
                margin: 0 auto;
                background: url("../../assets/images/ajax-loader.gif") no-repeat center;
                background-size: 35%;
            }

            .encounters-list {
                height: auto;
                width: 100%;
                margin: 0 auto;
                padding: 1rem 1rem 2rem 1rem;
                @include mars-sunrise-background(black);
                color: white;
                list-style-type: none;

                li {
                    height: auto;
                    margin-bottom: 1rem;

                    .encounter-action-text {
                        margin-top: 0.5rem;
                        color: #FFF58A;
                        display: block;
                    }
                }
            }
        }
        .report-button-wrapper {
            height: 31%;
            width: 100%;
            background: black;
            @include flex-column(center);

            .report-encounter-button {
                height: 100%;
                width: 100%;
                margin: 0 auto;
                border: none;
                color: white;
                background: black;
                font-size: 2.15rem;
                font-weight: 100;
                @include flex-column(center);
                animation: none;

                &:hover {
                    cursor: pointer;
                    @include button-flasher-animation();
                }
            }
        }
    }
}

@keyframes button-flasher {
    0% {
        color: #FDFFFA;
        box-shadow: inset 0px -1px 85px 15px #094259;
    }

    85% {
        box-shadow: inset 0px -1px 185px 40px black;
    }
    100% {
        color: #ED4343;
    }
}

