@import '../../_theme.scss';

.report-page {
    height: 100vh;
    width: 100vw;
    background: black;
    color: black;

    .report-page-wrapper {
        height: 100%;
        width: 100%;
        padding-top: 2.35rem;
        @include flex-column(flex-start);

        .page-header {
            height: 12.5%;
            width: 100%;
            background: black;
            text-align: center;

            h1{
                height: 100%;
                color: white;
                @include page-header;
            }
        }

        .posts-list-wrapper {
            height: 56.5%;
            width: 100%;
            padding: 1rem 1rem 2rem 1rem;
            @include mars-sunrise-background;
            font-size: 1.1rem;
            overflow: scroll;
            text-align: left;

            ::-webkit-scrollbar-thumb{
                height: 20px;
            }

            .journal-loader-gif {
                height: 200px;
                width: 200px;
                margin: 0 auto;
                background: url("../../assets/images/ajax-loader.gif") no-repeat center;
                background-size: 35%;
            }

            .posts-list {
                height: 100%;
                width: 100%;
                margin: 0 auto;
                list-style-type: none;

                li {
                    margin-bottom: 1rem;
                    color: white;

                    h2 {
                        margin-bottom: 0.75rem;
                        font-size: 2rem;
                        font-weight: 500;
                        color: #FFF58A
                    }

                    .encounter-action-text {
                        display: block;
                    }
                }
            }
        }

        .return-button-wrapper {
            height: 31%;
            width: 100%;
            background: black;
            @include flex-column(center);

            .return-button {
                height: 100%;
                width: 100%;
                margin: 0 auto;
                border: none;
                color: white;
                background: black;
                font-size: 2.05rem;
                font-weight: 100;
                @include flex-column(center);

                &:hover {
                    cursor: pointer;
                    @include button-flasher-animation();
                }
            }
        }
    }
}

@keyframes button-flasher {
    0% {
        color: #FDFFFA;
        box-shadow: inset 0px -1px 85px 15px #094259;
    }

    85% {
        box-shadow: inset 0px -1px 185px 40px black;
    }
    100% {
        color: #ED4343;
    }
}
