.home-page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#333333 0%, #604444 20%, #955858 50%, #E47676 100%);

    .home-page-wrapper {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

        .page-header {
            font-weight: 100;
            margin-top: 4rem;
            font-size: 2.3rem;
            text-transform: uppercase;
        }

        .instructions {
            margin-bottom: 4rem;
            font-size: 2rem;
        }

        .entry-button-container {
            height: 300px;
            width: 300px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            .entry-button-center {
                height: 75px;
                width: 75px;
                opacity: 0.2;
                background: rgba(237,237,237,.2);
                border-radius: 50%;
                animation: border-pulse 2s infinite;
                
                &:hover {
                    cursor: pointer;
                }
            }   
        }
    }
}

@keyframes border-pulse {
    0% {
        box-shadow: 0 0 0 1rem rgba(255,255,255,.1), 0 0 0 2rem rgba(255,255,255,.15), 0 0 0 3rem rgba(255,255,255,.2);
    }
    50% {
        box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1), 0 0 0 2.75rem rgba(255,255,255,.1), 0 0 0 4rem rgba(255,255,255,0);
    }
    75% {
        box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1), 0 0 0 3rem rgba(255,255,255,0), 0 0 0 5rem rgba(255,255,255,0);
    }
    100% {
        box-shadow: 0 0 0 1.75rem rgba(255,255,255,0), 0 0 0 3.75rem rgba(255,255,255,0), 0 0 0 6rem rgba(255,255,255,0);
    }
}

@keyframes entry-button-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}