<div class="home-page">
  <div class="home-page-wrapper">
    <h1 class="page-header">
      Mars Colony 1
    </h1>

    <div class="entry-button-container">


      <div class="entry-button-ring3">
        <div class="entry-button-ring2">
          <div class="entry-button-ring1">  
            <a href="/register" class="entry-button"><div class="entry-button-center"></div></a>
          </div>
        </div>
      </div>



    </div>

    <p class="instructions">Tap circle to enter</p>
  </div>
</div>
