@keyframes input-flasher {
    0% {
        box-shadow: 0px 0px 0px 0px #ED4343;
    }
    100% {
        box-shadow: 0px 0px 0px 11px black;
    }

}

.register-page {
    height: 100%;
    width: 100vw;
    background: black;

    .register-page-wrapper {
        height: 100%;
        padding-top: 2.35rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;

        .page-header {
            font-size: 2.35rem;
            font-weight: lighter;
        }

        .check-in {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0 auto;
            font-size: 2.25rem;
            background: none;
            border: none;
            color: white;
            font-weight: 100;
            letter-spacing: 1px;
            
            &:hover {
                cursor: pointer;
            }
        }

        .form-container {
            height: auto;
            width: 100%;
            padding: 0.5rem 0rem;
            margin-bottom: 10rem;

            .registration-form {
                height: auto;
                width: 90%;
                margin: 0 auto 6rem;
                border: none;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;

                input[type="text"], input[type="number"], select{
                    height: 38px;
                    width: 99.5%;
                    margin-top: 1.5rem;
                    border: 0px;
                    border-bottom: 1.5px solid white;
                    border-radius: 0;
                    font-size: 1.15rem;
                    background-color: black;
                    color: #ED4343;
                }

                input[type="text"], input[type="number"] {
                    margin-top: 0.75rem;
                    padding: 0.75rem 0 0 0.5rem;
                }

                select {
                    min-width: 100%;
                    appearance: none;
                    border-radius: 0px;
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;
                }

                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: #ED4343;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #ED4343;
                    opacity:  1;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #ED4343;
                    opacity:  1;
                }
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #ED4343;
                }
            }
        }
    }
}

.sign-in {
    width: 100%;

    button {
        height: 200px;
        width: 50%;
        margin: 0 25% 0 25%;
        background: none;
        border: none;
        
        &:hover {
            cursor: pointer;
        }

        .loader-gif {
            height: 220px;
            width: 100%;
            min-width: 250px;
            max-width: 400px;
            margin: 0 auto;
            background: url("../../assets/images/futuristic-loader.gif") no-repeat center;
            background-size: 100%;
        }
    }
}

.ng-invalid.flashing-input fieldset input.ng-invalid, .ng-invalid.flashing-input fieldset select.ng-pristine {
    animation: input-flasher 0.55s infinite;
}