<div class="register-page"> 
  <div class="register-page-wrapper">
    <h1 class="page-header">Register</h1>

    <form class="form-container">
      <fieldset class="registration-form">
        <input type=text id=name-input placeholder="Name"/>
        <input type=text id=age-input placeholder="Age"/>
        <select name=select>
          <option value="" disabled selected><span class="select-box-placeholder">Select occupation</span></option>
          <option value="AlienHunter">Alien Hunter</option>
          <option value="YogaTeacher">Yoga Teacher</option>
          <option value="DustFarmer">Dust Farmer</option>
          <option value="Front-End Developer">Front-End Developer</option>
        </select>
      </fieldset>
    </form>
    <button href="/encounters"class="check-in">Check in</button>
  </div>  
</div>
